### Importing data

In [65]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('\\Collaborative-Projects\\cleaned_ranking_1.csv', )
print(df.shape)
df.head(3)

(296978, 15)

,state,county,state_code,county_code,measure_name,measure_id,numerator,denominator,raw_value,confidence_interval_lower,confidence_interval_upper,data_release_year,fips_code,start_year,end_year
0,AL,Hale County,1.0,65.0,Premature Death,1.0,271.0,NaN,12228.624,10218.083,14239.165,2010.0,1065.0,2004.0,2006.0
1,AL,Hale County,1.0,65.0,Premature Death,1.0,278.0,NaN,11626.723,9767.516,13485.930,2011.0,1065.0,2005.0,2007.0
2,AL,Hale County,1.0,65.0,Premature Death,1.0,286.0,NaN,13522.955,11397.331,15648.579,2012.0,1065.0,2006.0,2008.0

In [66]:
df.isnull().sum().sort_values()

state_code                        4
county_code                       4
state                             6
county                            6
measure_name                     79
measure_id                       79
start_year                       80
fips_code                      9575
raw_value                     13503
numerator                     89353
denominator                  112263
confidence_interval_lower    113976
confidence_interval_upper    113976
data_release_year            146896
end_year                     217182
dtype: int64

In [67]:
# determine the percent of null values per column

perc_dict = {}
for c in df.columns:
    perc_dict[c] = df[c].isnull().sum()/df.shape[0]*100
sort_dict = {k: v for k, v in sorted(perc_dict.items(),key=lambda item: item[1])}
sort_dict

{'state_code': 0.0013469011172544767,
 'county_code': 0.0013469011172544767,
 'state': 0.002020351675881715,
 'county': 0.002020351675881715,
 'measure_name': 0.02660129706577592,
 'measure_id': 0.02660129706577592,
 'start_year': 0.026938022345089536,
 'fips_code': 3.2241445494279035,
 'raw_value': 4.5468014465718,
 'numerator': 30.087413882509818,
 'denominator': 37.80179003158483,
 'confidence_interval_lower': 38.37860043504906,
 'confidence_interval_upper': 38.37860043504906,
 'data_release_year': 49.4635966300534,
 'end_year': 73.13066961189044}

In [68]:
# drop rows if null values comprised of less than 3% of the total records in state_code,county_code,state,county,fips_code

df1 = df[df.raw_value.notnull()]
df1.shape

(283475, 15)

In [69]:
df1.isnull().sum().sort_values()

measure_name                      0
measure_id                        0
raw_value                         0
start_year                        0
state_code                        2
county_code                       2
state                             4
county                            4
fips_code                      9573
numerator                     77142
denominator                   99633
confidence_interval_lower    100473
confidence_interval_upper    100473
data_release_year            140287
end_year                     215304
dtype: int64

In [70]:
# drop rows if null values comprised of less than 3% of the total records in state_code,county_code,state,county,fips_code

df1 = df1[df1.fips_code.notnull()]
df1.shape

(273902, 15)

In [71]:
df1.isnull().sum().sort_values()

measure_name                      0
measure_id                        0
raw_value                         0
fips_code                         0
start_year                        0
state_code                        2
county_code                       2
state                             4
county                            4
numerator                     77142
denominator                   96442
confidence_interval_lower    100473
confidence_interval_upper    100473
data_release_year            137096
end_year                     205731
dtype: int64

In [73]:
# drop rows if null values comprised of less than 3% of the total records in state_code,county_code,state,county,fips_code

df1 = df1[df1.state.notnull()]
df1 = df1[df1.state_code.notnull()]
df1 = df1[df1.county.notnull()]
df1 = df1[df1.county_code.notnull()]
df1.shape

(273898, 15)

In [96]:
perc_dict = {}
for c in df1.columns:
    perc_dict[c] = df1[c].isnull().sum()/df1.shape[0]*100
sort_dict = {k: v for k, v in sorted(perc_dict.items(),key=lambda item: item[1])}
sort_dict

{'state': 0.0,
 'county': 0.0,
 'state_code': 0.0,
 'county_code': 0.0,
 'measure_name': 0.0,
 'measure_id': 0.0,
 'raw_value': 0.0,
 'fips_code': 0.0,
 'start_year': 0.0,
 'numerator': 28.16449919313029,
 'denominator': 35.210187734120005,
 'confidence_interval_lower': 36.68263368115138,
 'confidence_interval_upper': 36.68263368115138,
 'data_release_year': 50.05220921656968,
 'end_year': 75.11153787176248}

Removing any other column with null values at this point will eliminate a minimum of 28% of total rows.  This state will be saved to cleaned_ranking_2.csv.  Further cleaned will be determined based on the needs of furture analysis.

In [97]:
df.to_csv(r'\\Collaborative-Projects\\cleaned_2nd.csv')